<div class="well">
{% if page.lang == "es" %}
  <h5>Galería de Imagenes</h5>
{% else %}
  <h5>Gallery</h5>
{% endif %}
</div>

<style>
  .image-gallery { overflow: auto; margin-left: -1%!important; }
  .image-gallery a { float: left; display: inline-flex; margin: 0 2% 2%; width: inherit; text-align: center; text-decoration: none!important; }
</style>

<div class="image-gallery">
{%for img in site.data.image-gallery %}
{% if page.lang == "es" %}
<a href ="{{ site.url }}{{ site.baseurl }}/es/allprojects/#{{img.key}}">
            <img src="{{ site.url }}{{ site.baseurl }}/images/mini-gallery/{{ img.photo }}" class="img-responsive" alt="img.name" />
</a>
{% else %}
<a href ="{{ site.url }}{{ site.baseurl }}/allprojects/#{{img.key}}">
            <img src="{{ site.url }}{{ site.baseurl }}/images/mini-gallery/{{ img.photo }}" class="img-responsive" alt="img.name" />
</a>
{% endif %}

{% endfor %}
</div>
